* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 50px;
}

.news {
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 15px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.news + .news {
    margin-top: 25px;
}

.news_title {
    font-weight: bold;
    font-size: 24px;
    color: blue;
}

.news_text {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 5px;
}

.news_link {
    margin-left: auto;
    text-decoration: none;
    color: blue;
}