table {
    border-collapse: collapse;
    text-align: center;
  }
  thead {
    color: black;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
  }
  td {
    border: 1px solid black;
    padding: 6px;
  }